@import '_variable.less';

aside {
	width: @menu_sidebar_width;
	float: left;
	display: block;
	min-height: 250px;
	position: relative;
	margin-top: 110px
}
.page-container {
	float: left;
	width: calc(100% - @menu_sidebar_width);
}